Aquí Inicia Nuestro Select .seletbox {
    width: 100%;
    max-width: 1120px;
    padding: 20px 0;
    margin: auto;
    display: flex;
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.filtrar {
    margin-left: 5px;
    width: 200px;
    display: flex;
}

select>option {
    background: rgb(16, 34, 192);
    color: blueviolet;
}

select:hover {
    background: rgb(119, 11, 114);
    color: rgb(212, 22, 22);
}

#selectByType {
    margin-left: -15px;
    width: 200px;
    height: 35px;
    outline: none;
}

#ordenarPor {
    margin-left: 55px;
    width: 200px;
    height: 35px;
    outline: none;
    background: rgb(68, 216, 204);
}