* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
}

i .fas {
    width: 50px;
    height: 40px;
}

.menu {
    background-color: #3c5ae6;
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    padding: 5px 20px;
    height: 80px;
    width: 150px;
}

.menu_items {
    display: flex;
    margin-right: 30px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: white;
    text-transform: uppercase;
}

.menu_items li:hover {
    background-color: #ee1515;
    transition: .4s;
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 952px) {
    .logo {
        width: 180px;
        padding-left: 35px;
    }
    .menu-items li a {
        font-size: 6px;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background: #1a191980;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #ee1515;
    }
    .logo {
        width: 130px;
        height: 65px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0;
    }
    .menu-items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}