/* --------------------CUERPO DE LAS TARJETAS--------------------- */


/* Aquí Podemos Acceder a Nuestro Seccion de las Tarjetas*/


/* 
#container {
    width: min(100%, 1000px);
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 230px;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px;
}

.card img {
    width: 100%;
}

.card span {
    color: #6e6e6e;
    font-weight: 500;
}

.btnVer {
    background-color: #3c5ae6;
    height: 35px;
    width: 30px;
    color: azure;
    border-radius: 10px;
}

@media screen and (max-width: 952px) {
    #contenedor {
        display: flex;
        justify-content: space-around;
    }
    .card {
        background: rgb(255, 255, 255);
        align-items: center;
    }
} */

.pokego-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemones {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemones .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemones .img-container img {
    margin-top: 20px;
    max-width: 90%;
}

.pokemones .info {
    margin-top: 20px;
}

.pokemones .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemones .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
    font-size: 28px;
}

@media screen and (max-width: 360px) {
    .tipo {
        font-size: 15px;
    }
}